
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block fullWidth %}
{% call govukPubInverseHeader({
  fullWidth: true
}) %}

<div class="gem-c-title gem-c-title--inverse">
<h1 class="gem-c-title__text ">
  Education, Training and Skills
</h1>
</div>

{% endcall %}
{% endblock %}

{% block content %}

<!-- {{ govukBackLink({
  text: "Back",
  href: "#"
}) }} -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What do you want to get alerts about?
      </h1>


      {% set moneyHtml %}
      <p>This will include alerts about all the topics below.</p>
      <p>There have been an average of 20 changes a day over the last month.</p>
      {% endset -%}

      {{ govukRadios({
        idPrefix: "how-contacted-conditional",
        name: "how-contacted",
        fieldset: {
          legend: {
            text: "Everything published to GOV.UK about",
            isPageHeading: true,
            classes: "govuk-body govuk-!-font-size-24"
          }
        },
        items: [
          {
            value: "money",
            text: "Money",
            conditional: {
              html: moneyHtml
            }
          }
        ]
      }) }}

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {% set expensesAndEmployeeBenefits %}
      <p>There have been an average of 5 changes a day over the last month.</p>
      {% endset -%}

{{ govukRadios({
  idPrefix: "where-do-you-live",
  name: "where-do-you-live",
  fieldset: {
    legend: {
      text: "or only one of the following 7 sub-topics",
      isPageHeading: true,
      classes: "govuk-body govuk-!-font-size-24"
    }
  },
  items: [
    {
      value: "england",
      text: "Expenses and employee benefits",
      conditional: {
        html: expensesAndEmployeeBenefits
      }
    },
    {
      value: "scotland",
      text: "Court claims, debt and bankruptcy"
    },
    {
      value: "wales",
      text: "Money laundering regulations"
    },
    {
      value: "northern-ireland",
      text: "Business tax"
    },
    {
      value: "abroad",
      text: "Dealing with HMRC"
    },
    {
      value: "abroad",
      text: "Personal tax"
    },
    {
      value: "abroad",
      text: "Tax evasion and avoidance"
    }
  ]
}) }}

      {{ govukButton({
        text: "Select",
        href: "sign-up-to-get-emails"
      }) }}

    </div>
  </div>

{% endblock %}
