
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<!-- {{ govukBackLink({
  text: "Back",
  href: "#"
}) }} -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Sign up to get emails
      </h1>

      <p class="govuk-body">Get emails when information changes on GOV.UK about:</p>

      <ul class="govuk-list">
        <li class="govuk-!-font-weight-bold">Money</li>
      </ul>

      <p class="govuk-body">There have been an average of 20 changes a day over the last month.</p>

      <p class="govuk-body">You can choose how often you want to receive emails.</p>

      {{ govukButton({
        text: "Sign up",
        href: "how-often"
      }) }}

    </div>
  </div>

{% endblock %}
